<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CMSC508</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bagpakk/css/normalize.css"/>
    <link rel="stylesheet" href="/webjars/bagpakk/css/bagpakk.min.css"/>
    <link rel="stylesheet" href="/webjars/bagpakk/demo/css/demo.css"/>
</head>
<body>

<header class="container" style="padding: 0 0">
    <div class="wrap">
        <div class="col-5">
            <ul class="inline-list">
                <li><a href="/">CMSC 508</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/courses/add">Classes</a></li>
                <li><a href="/activity-feed">Your Feed</a></li>
            </ul>
        </div>
        <div class="col-5 last text-right">
            <ul class="inline-list">
                <li ng-show="!home.authenticated"><a href="/login">login</a></li>
                <li ng-show="home.authenticated">
                    <span ng-bind="home.user"></span>
                    <a href="#" ng-click="home.logout()">logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section class="container">
    <div class="wrap">
        <form th:action="@{/projects}" method="POST" class="small-width">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <h2 class="text-center">Add Project</h2>
            <p>
                <label for="name">Title</label>
                <input id="name" name="name" type="text"/>
            </p>
            <p>
                <label for="description">Desciption</label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </p>
            <p>
                <input type="submit" value="Add"/>
            </p>
        </form>
    </div>
</section>
</body>
</html>