<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CMSC508</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bagpakk/css/normalize.css"/>
    <link rel="stylesheet" href="/webjars/bagpakk/css/bagpakk.min.css"/>
    <link rel="stylesheet" href="/webjars/bagpakk/demo/css/demo.css"/>
</head>
<body>

<header class="container" style="padding: 0 0">
    <div class="wrap">
        <div class="col-5">
            <ul class="inline-list">
                <li><a href="/">CMSC 508</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/courses/add">Classes</a></li>
                <li><a href="/activity-feed">Your Feed</a></li>
            </ul>
        </div>
        <div class="col-5 last text-right">
            <ul class="inline-list">
                <form action="/logout" method="POST">
                    <input type="hidden" th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <button type="submit">Logout</button>
                </form>
            </ul>
        </div>
    </div>
</header>

<section class="container">
    <div class="wrap">
        <h1 class="text-center">
            <span th:text="${student.name}"></span>
        </h1>
    </div>
</section>
<section class="container">
    <div class="wrap">
        <h2><span th:text="${student.name}"></span>'s Projects</h2>

        <div class="col-4 first" th:each="project : ${projects}">
            <article class="small-width">
                <h3><a th:href="'/student/' + ${project.studentId} + '/projects/' + ${project.id}"
                       th:text="${project.name}">Example Project</a></h3>
                <p th:text="${project.description}"></p>
            </article>
        </div>


        <div th:switch="${user.id}">
            <div th:case="${student.id}">
                <div class="col-4 last">
                    <article class="small-width text-center">
                        <a href="/projects/create" class="button">Add Project</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="wrap">
        <h2><span th:text="${student.name}"></span>'s Starred Projects</h2>


        <div class="col-4 first" th:each="star : ${stars}">
            <article class="small-width">
                <a th:href="'/student/' + ${star.projectStudentId} + '/projects/' + ${star.projectId}"
                   th:text="${star.projectName}">Example Project</a>
            </article>
        </div>


    </div>
</section>

</body>
</html>