<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Droid+Serif:400,700|Montserrat:400,700&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/webjars/css/normalize.css">
    <link rel="stylesheet" href="/webjars/css/bagpakk.css">
    <title>CMSC 508</title>
</head>
<body>
<header class="font-color-alt container" id="homepage-hero">
    <div class="wrap text-center">
        <h1 class="big-boy">CMSC 508</h1>
        <p class="big">Student Project Database</p>
        <p>
            <a href="/login" class="button-alt-light-big">Login</a>
        </p>
    </div>
</header>

<section class="text-center">
    <div class="wrap">
        <ul class="inline-list text-left">
            <li><a href="/">CMSC 508</a></li>
            <li><a href="#">courses</a></li>
            <li><a href="#">projects</a></li>
            <li><a href="#">profile</a></li>
            <li><a href="#">login</a></li>
        </ul>
    </div>
</section>

<section class="container text-center">
    <div class="wrap">
    </div>
</section>

<footer class="site-footer text-center">
    <div class="wrap">
        <small>
            <a href="https://github.com/StevenMHernandez/cmsc508">View on Github</a>
        </small>
    </div>
</footer>
</body>
</html>