<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CMSC508</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bagpakk/css/normalize.css"/>
    <link rel="stylesheet" href="/webjars/bagpakk/css/bagpakk.min.css"/>
    <link rel="stylesheet" href="/webjars/bagpakk/demo/css/demo.css"/>
</head>
<body>

<header class="container" style="padding: 0 0">
    <div class="wrap">
        <div class="col-5">
            <ul class="inline-list">
                <li><a href="/">CMSC 508</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/courses/add">Classes</a></li>
                <li><a href="/activity-feed">Your Feed</a></li>
            </ul>
        </div>
        <div class="col-5 last text-right">
            <ul class="inline-list">
                <form action="/logout" method="POST">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit">Logout</button>
                </form>
            </ul>
        </div>
    </div>
</header>

<section class="container">
    <div class="wrap">
        <h1 class="text-center">
            Most Recent Activities from your Classmates
        </h1>
    </div>
</section>
<section class="container">
    <div class="wrap">
        <p class="" th:each="activity : ${activities}">
            <article class="small-width">
                <div th:text="${#dates.format(activity.createdAt, 'MMM dd, yyyy')}"></div>
                <a th:href="'/students/' + ${activity.studentId}" th:text="${activity.studentName}"></a>

                <span th:switch="${activity.type}">
                    <span th:case="enrolled">
                        enrolled in one of your courses.

                        <button><a th:href="'/courses/' + ${activity.targetId}" style="text-decoration: none;">View the course</a></button>
                    </span>
                    <span th:case="project_added">
                        added a new project.

                        <button><a th:href="'/student/' + ${activity.studentId} + '/projects/' + ${activity.targetId}" style="text-decoration: none;">View the project</a></button>
                    </span>
                    <span th:case="project_updated">
                        updated one of their projects.

                        <button><a th:href="'/student/' + ${activity.studentId} + '/projects/' + ${activity.targetId}" style="text-decoration: none;">View the project</a></button>
                    </span>
                    <span th:case="comment">
                        left you a comment.
                    </span>
                </span>
            </article>
        </p>
    </div>
</section>
</body>
</html>